<div class="hbox fill-space">
    <div class="grocery-item" [ngStyle]="{'filter': grocery.completed ? 'grayscale(60%)' : null}">
        <div>
            <div class="tags-container">
                <div *ngFor="let tag of (grocery.tags ?? [])" class="hbox tags-container" [class]="'tag ' + tag">
                    {{tag}}
                </div>
            </div>
            <div class="hbox" style="align-items: baseline;">
                <h1>{{(grocery.grocery) ? grocery.grocery : "Grocery"}}</h1>
                <p *ngIf="grocery.quantity" class="quantity">{{'x' + grocery.quantity}}</p>
            </div>
        </div>
        <div class="hbox">
            <div>
                <h3>{{grocery.assigned ?? "Who will pick it up?"}}</h3>
                <p *ngIf="grocery.due" class="date">{{grocery.due.toFormat("L/d/yy t")}}</p>
            </div>
        </div>
    </div>
</div>