<div class="hbox">
    <div class="grocery-item" [ngStyle]="{'filter': checked ? 'grayscale(60%)' : null}">
        <div>
            <div class="tags-container">
                <div *ngFor="let tag of (grocery.tags ?? [])" class="hbox tags-container" [class]="'tag ' + tag">
                    {{tag}}
                </div>
            </div>
            <div class="hbox" style="align-items: baseline;">
                <h1>{{(grocery.grocery) ? grocery.grocery : "Grocery"}}</h1>
                <p *ngIf="grocery.quantity" class="quantity">{{'x' + grocery.quantity}}</p>
            </div>
        </div>
        <div class="hbox">
            <div>
                <h3>{{grocery.assigned ?? "Who will pick it up?"}}</h3>
                <p *ngIf="grocery.due" class="date">{{grocery.due.toFormat("L/d/yy t")}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="actions" class="grocery-actions vbox">
        <p-button 
            [icon]="'pi ' + ((checked) ? 'pi-times' : 'pi-check')"
            (onClick)="toggle_completed()"
            [pTooltip]="check_tooltip"
            showDelay="800"
        />
            <ng-template #check_tooltip>
                {{(checked) ? 'Un-complete' : 'Complete'}}
            </ng-template>
        <p-button 
            icon="pi pi-pencil"
            (onClick)="toggle_edit_menu()"
            pTooltip="Edit"
            showDelay="800"
        />
        <p-button
            icon="pi pi-trash"
            severity="danger"
            [disabled]="!this.checked"
            pTooltip="Delete"
            showDelay="800"
        />
<app-edit-creation-popup
    [visible]="display_edit_menu"
    [grocery]="grocery"
    [mode]="'edit'"
    (exit)="toggle_edit_menu()"
/>